<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>
    <link href="/stylesheets/output.css" rel="stylesheet">
  </head>
  <body class="h-full">
    {{{body}}}
  </body>
</html>
