<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Sample SaaS</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <p>A simple saas application to demo
        <ul>
          <li>How to track new trial sign ups to Bunny</li>
          <li>How to provision subscription changes from Bunny</li>
        </ul>
      </p>
    </div>
  </div>
</div>
